$blue: blue;

.projects-container {
    margin-left: 350px;
    padding: 50px;
    .project {
        display: flex;
        justify-content: center;
        margin: 80px 0;
    }
}

.display-inline {
    display: flex;
    justify-content: space-between;
}